$icon-size: 48px;
$color-separator: rgb(152, 152, 152);
$color-control-item: rgb(225, 225, 225);
$color-control-item-active: darken(rgb(225, 225, 225), 10%);

.media-controls {
  position: absolute;
  display: flex;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 8px;

  .control-separator {
    display: inline-flex;
    box-sizing: border-box;
    padding: 0.2em 0;
    width: 2px;
    background-color: $color-separator;
  }

  .control-item {
    display: inline-flex;
    padding: 0 0.4em;
    width: $icon-size;
    height: $icon-size;
    background-color: $color-control-item;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      border-radius: 0 8px 8px 0;
    }

    &:hover {
      background-color: $color-control-item-active;
      cursor: pointer;
    }

    .icon {
      box-sizing: border-box;
      background-size: 100%;
      background-origin: content-box;
      padding: 0.5em;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;

      &-microphone {
        background-image: url("./images/mic_on.svg");

        &-off {
          background-image: url("./images/mic_off.svg");
        }
      }

      &-audio {
        background-image: url("./images/audio_on.svg");

        &-off {
          background-image: url("./images/audio_off.svg");
        }
      }

      &-camera {
        background-image: url("./images/camera_on.svg");

        &-off {
          background-image: url("./images/camera_off.svg");
        }
      }
    }
  }
}