body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

video {
  position: absolute;
  z-index: 1;
  height: 140px;
}

// @import "./login.scss";
@import "./controls.scss";

.room {
  width: 100%;
  background: rgb(56, 64, 78) url(./images/tile.png) 56px 56px;
  position: relative;
}

.offscreen-canvas {
  visibility: hidden;
}